.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    list-style-type: none;
    transition: opacity .3s linear;
  }

 .footer__column-link:hover {
    opacity: 0.6;
  }