@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  
  to {
     transform: rotate(360deg);
  }
}


.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  background-color: #f2f2f2;
  
  position: relative;
  overflow: hidden;
}

.header__title {
  position: relative;
  left: 64px;
  align-self: center;
  z-index: 3;
  max-width: 730px;
  font-size: 102px;
  line-height:96px;
  font-weight: bold;
  margin: 0;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 3;
  max-width: 388px;
  font-size: 18px;
  line-height:25px;
  margin: 0;
}

.header__link {
  color:#2f80ed;
  text-decoration: none;
  z-index: 3;
}

.header__main-illustration {
  position: absolute;
  right:  0;
  bottom: 0;
  width: 765px;
  height: 608px;
  object-fit: cover;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  right:  0;
  top: 64px;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  z-index: 1;
  
}

.logo {
  width: 183px;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo_place_header {
  height: 32px;
  position: absolute;
  left: 64px;
  top: 30px;
  background-image: url(../images/logo_place_header.svg);
  
}

.rotation {
  animation: rotation 20s infinite linear;
}

.description{
  display: flex;
  min-height: 260px;
  
  padding:100px 0 0 0;
}

.two-columns{
  display: flex;
  width: 80%;
  margin:0 auto;
  justify-content: space-between;
  
}

.two-columns__brief {
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  color:  #2f80ed;
  margin: 0;
  font-weight: normal;

}

.two-columns__main-text {
  max-width: 80%;
  display: flex;
  
  min-width: 784px;
  flex-direction: column;
  
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin: 0 0 30px 0;
  
  
}

.two-columns__paragraph:last-child{
  margin: 0;
}
.two-columns__span-accent {
 font-weight: bold;
}

.techniques {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px black solid;
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}

.cards {
  display: flex;
  flex-direction: row;
  width: 920px;
  flex-wrap: wrap;
}

.cards__item {
  width: 240px;
  margin: 60px 0 0;
}

.cards__item:nth-child(3n+2) {
  margin: 60px 100px 0;
}

.cards__image {
  width:  160px;
  height: 160px;
  object-fit: cover;
  margin: 0 40px;
  border-radius: 100px;
}

.cards__title {
  margin: 43px 0 16px;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.cards__description {
  margin: 0;
  text-align: center;
  line-height: 23px;
  font-size: 18px;

}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 440px;
  padding-top:100px;
  border: 1px black solid;
}

.video__iframes {
  display: flex;
  margin:50px auto 0;
  width: 1050px;
  justify-content: space-between;
}

.video__iframe{
  width: 515px;
  height: 316px;
}

.oakley {
  padding-top: 160px;
  border: 1px black solid;
  background-color:  #f2f2f2;
}

.khan {
  border: 1px solid black;
  
  padding-top: 105px;
  background-color:  #f2f2f2;

}

.khan__container {
  
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  
  display: inline-block;
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  
  margin: 0 0 50px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
 
  display: inline-block;
  width: 790px;
  quotes: none;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
 
  margin: 36px 0 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {

  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
  flex-direction: row;
  
  margin: 68px 0 0;
}

.khan__book-pic {
  
  margin: 0 48px 0 0;
  width: 620px;
  height: 608px;
  object-fit: cover;
}

.khan__buy-link {
  
  margin:0;
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.resources {
  padding: 100px 0 217px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone {
  width: 1105px;
  display: flex;
  flex-direction: row;
  margin: 80px 0 0;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.digits {
  
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  align-items: center;

}

.section-title {
  
  max-width: 60%;
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}



.section-subtitle {
  
  max-width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  margin: 20px 0 0 0;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.table__cell {
  width: 200px;
}

.table__cell_place_digits {
  width: 250px;
  margin: 60px 0 0 0;
}

.table__heading {
  
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  
  margin:20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
}

.feynman {
  
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  min-height: 890px;
  background-color:  #f2f2f2;
}

.feynman__title {
  
  margin:100px 0 0 0;
  max-width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 3;
}
.feynman__subtitle {
  
  margin: 70px 0 0 0;
  line-height: 51px;
  font-size: 36px;
  z-index: 3;
  font-weight: normal;
}

.feynman__link {
  
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: #2f80ed;
  z-index: 3;
}
.feynman__photo {
  
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  z-index: 2;
}

.kaufman {
  
  display: flex;
  flex-direction: column;
  padding: 90px 0;
  align-items: center;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
  z-index: 3;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 3;
}

.table_theme_dark {
  color: white;
  z-index: 3;
}

.table__cell_theme_kaufman {
  margin: 80px 0 0 0;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 1;
}

.footer {
  
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  min-height: 350px;
  padding: 60px 0 40px 0;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;
  color: white;
 
}

.footer__column {
  
  display: flex;
  flex-direction: column;
}
.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;

}


.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
}


.footer__column-heading {
  margin:0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  list-style-type: none;
}



.footer__social-icon {
  margin-right: 10px;
}

.marker-remover {
  list-style-type:none;
  padding: 0;
}